#erede-card-installments {
  min-height: 44px;
  font-size: 1.2em !important;
}
  /* CSS default */
  #erede-payment-form label {
    font-size: 14px;
  }
  .woocommerce-checkout #payment div.payment_method_virt_erede {
    padding: 1em;
    margin: 1em 0;
    font-size: 15px;
  }
  .payment_method_virt_erede > p {
    margin: 15px 0 0px;
    line-height: 23px;
  }
  #payment .payment_methods .payment_box fieldset #erede-card-number-field {
    margin-top: 0;
}
  .woocommerce-checkout #payment div.payment_method_virt_erede::before {
    content: "";
    display: block;
    top: -0.75em;
    margin: -1em 0 0 2em;
  }
  #erede-payment {
    border-top: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
  }
  #erede-payment p {
    margin-bottom: 5px;
    line-height: 23px;
    margin-top: 0;
  }
  .card-loaded #erede-load-card {
    float: left;
    display: block;
    clear: left;
  }
  .card-loaded .clear.after-installments {
    display: none;
  }
  #erede-card-installments,
  #erede-payment .input-text {
    font-size: inherit !important;
    min-height: 44px;
  }
  #erede-payment .form-row {
    min-height: 82px;
  }
  #erede-payment .clear {
    clear: both;
  }
  label[for="payment_method_virt_erede"] img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  #erede-payment small {
    font-size: 11px;
  }
  .woocommerce-checkout
    #payment
    div.payment_method_virt_erede
    .erede-info {
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 0.8em;
    font-style: italic;
    margin-top: -2px;
  }

  #erede-payment-methods:before,
  #erede-payment-methods:after,
  #erede-bank-transfer-form ul:before,
  #erede-bank-transfer-form ul:after {
    content: " ";
    display: table;
  }
  #erede-payment-methods:after,
  #erede-bank-transfer-form ul:after {
    clear: both;
  }
  #erede-payment-methods,
  #erede-bank-transfer-form ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    zoom: 1;
  }
  #erede-payment-methods input[type="radio"],
  #erede-bank-transfer-form ul input[type="radio"] {
    display: none;
  }
  .woocommerce #payment ul.payment_methods li #erede-payment-methods li,
  .woocommerce-page #payment ul.payment_methods li #erede-payment-methods li {
    float: left;
    list-style: none;
    margin-right: 5px;
  }
  .woocommerce #payment ul.payment_methods li #erede-payment-methods li:after,
  .woocommerce-page #payment ul.payment_methods li #erede-payment-methods li:after {
    content: "";
    height: 2px;
    width: 0;
    display: block;
    max-width: 150px;
    transition: .2s width linear;
  }
  .woocommerce
    #payment
    ul.payment_methods
    li
    .woocommerce-erede-form-storefront
    #erede-payment-methods
    li,
  .woocommerce-page
    #payment
    ul.payment_methods
    li
    .woocommerce-erede-form-storefront
    #erede-payment-methods
    li {
    padding: 5px !important;
  }
  .woocommerce #payment ul.payment_methods li #erede-payment-methods label,
  .woocommerce-page
    #payment
    ul.payment_methods
    li
    #erede-payment-methods
    label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px;
    min-width: 100px;
    text-align: center;
  }
  #erede-icon-pix {
    display: block;
    float: right;
    margin: 0 10px 5px 0;
  }
  #erede-icon-pix {
    height: 101px;
    width: 101px;
  }
  #erede-icon-pix {
    background: transparent url("../images/pix.png") no-repeat top right;
    background-size: contain;
  }
  #erede-icon-ticket {
    background: transparent url("../images/codigo-de-barras.png") no-repeat top
      right;
  }
  .woocommerce #payment ul.payment_methods li #erede-payment-methods li.active:after,
  .woocommerce-page #payment ul.payment_methods li #erede-payment-methods li.active:after {
    background-color: #898989;
    width: 100%;
  }
  #erede-payment-methods li.active {
    background-color: #ffffff5c;
  }
  #erede-payment-methods {
    border-bottom: 1px solid #ccc;
  }
  .erede-method-form {
    display: none;
    min-height: 319px;
    margin-top: 15px;
  }
  .card-loaded .erede-method-form {
    min-height: 160px;
  }
  #erede-credit-card-form,
  #erede-payment {
    display: block;
  }
  .card-loaded {
    display: none;
  }
  input#erede-save-hash-card {
    font-size: 5px;
    width: 16px;
    height: 16px;
  }
  #erede-payment label[for="erede-save-hash-card"] {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
  }
  #erede-payment #erede-card-holder-name-field small {
    font-weight: bold;
    color: #000;
  }
  .payment_method_erede .erede-info {
    font-size: 14px;
    display: block;
    margin: 0px 0 20px;
  }
  .card-in-use {
    font-size: 14px;
    margin-left: 30px;
    background: linear-gradient(to bottom, #000, #282828);
    padding: 10px 17px;
    border-radius: 10px;
    color: #fff;
    width: 130px;
    float: right;
  }
  .card-in-use > span {
    display: block;
  }
  .fa-credit-card-alt {
    margin-right: 10px;
  }
  .card-in-use .number {
    margin: 7px 0px;
  }
  .card-in-use .holder {
    font-size: 14px;
  }
  .card-loaded#erede-payment #erede-card-installments-field {
    width: 100%;
    max-width: 51%;
    display: inline-block;
  }
  .card-loaded #erede-card-installments {
    min-height: 40px;
    font-size: 0.94em !important;
  }.card-loaded #erede-load-card {
      float: left;
  }
  .woocommerce-checkout #payment ul.payment_methods li .card-brand > img {
    margin-left: 0;
    margin-right: 5px;
    display: inline-block;
    vertical-align: baseline;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .card-in-use {
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 767px) {
    #erede-card-installments-field {
        width: 100%;
    }
    .card-in-use {
        margin-left: 0;
    }
    .woocommerce #payment ul.payment_methods li #erede-payment-methods label,
    .woocommerce-page #payment ul.payment_methods li #erede-payment-methods label {
      min-width: 80px;
    }
    .card-loaded#erede-payment #erede-card-installments-field {
      max-width: 100%;
    }
    .woocommerce-checkout .checkout #erede-payment .form-row-first,
    .woocommerce-checkout .checkout #erede-payment .form-row-last {
      width: 100%;
      clear: both;
    }
  }
  @media only screen and (max-width: 479px) {
    #erede-load-card {
      text-align: right;
      margin-top: 15px;
    }
    .card-in-use {
        float: none;
        display: table;
    }
    .woocommerce #payment ul.payment_methods li #erede-payment-methods label,
    .woocommerce-page #payment ul.payment_methods li #erede-payment-methods label {
      min-width: 50px;
    }
  }
